.bWidth {
    width: 8rem;
}
#begin {
    width: 40rem;
}
#wrapper {
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}
#footer {
    text-align: center;
}
.clearfix {
    clear: both;
}